<div class="container">
    <button>clear form</button>
    <form class="add-product">
        <div>
            <label>Name:<input required name="name" type="text"></label>
        </div>
        <div>
            <label>Price:<input required name="price" type="text"></label>
        </div>
        <div>
            <label>Size:<input name="size" type="text"></label>
        </div>
        <div>
            <label>Color:<input name="color" type="text"></label>
        </div>
        <div>
            <label>Gender:<input name="gender" type="text"></label>
        </div>
        <div>
            <label>ImageUrl:<input name="imageUrl" type="text"></label>
        </div>

        <button id="add-product" type="submit">Add</button>
    </form>
</div>


<section class="products">
    <div class="products-wrapper">
        <ul class="products-container">
        </ul>
    </div>
</section>