<div class="container">

    <form class="add-product">
        <div>
            <label>Name:
                <input name="name" type="text">
            </label>
        </div>
        <div>
            <label>Price:
                <input name="price" type="text">
            </label>
        </div>
        <div>
            <label>Size:
                <select name="size" id="">
                    <option value="xs">XS</option>
                    <option value="x">S</option>
                    <option value="m">M</option>
                    <option value="l">L</option>
                    <option value="xl">XL</option>
                    <option value="xxl">XXL</option>
                </select>
            </label>
            
        </div>
        <div>
            <label>Color:<input name="color" type="text"></label>
        </div>
        <div>
            <label>Gender:
                <select name="gender" id="">
                    <option value="men">Men</option>
                    <option value="women">Women</option>
                </select>
            </label>
        </div>
        <div>
            <label>ImageUrl:<input name="imageUrl" type="text"></label>
        </div>

        <button id="add-product" type="submit">Add</button>
    </form>
</div>


<section class="products">
    <div class="products-wrapper">
        <ul class="products-container">
        </ul>
    </div>
</section>