<section class="filter">
    <div class="filter-wrapper">
        <div class="checkbox-list">
            <div class="chebox-item">
                <input type="checkbox" id="checkbox-men" name="men" value="men">
                <label for="men">Men</label>
            </div>
            <div class="chebox-item">
                <input type="checkbox" id="checkbox-women" name="women" value="women">
                <label for="women">Women</label>
            </div>
        </div>
        <div class="button-list">
            <button>See all products</button>
        </div>
    </div>
</section>

<div class="headline">
    <h4 class="title">Men</h4>
</div>

<section class="products">
    <div class="products-wrapper">
        <ul class="products-container">
        </ul>
    </div>
</section>